header{
    background-color: $ColorBackgroundOlimpo;       
    height: 3.5rem;            
    grid-area: header;

    .nav-brand{
        margin-right: 2rem;    
    }
    .nav_brand-logo:hover
    {
        @extend .efectoAgrandarImagen;
    }
    .navbar-collapse{
        @media only screen and (max-width: 992px){       
            font-size: 1.5rem;
            background-color:$ColorBackgroundOlimpo;
            border: 2px solid $ColorMenuOlimpo;
            padding: 10px;
        }
    }
    .navbaro{    
        margin-left: auto; 
        margin-right: auto;    
        font-size: 1.5rem;   
        @media only screen and (min-width: 992px){                
            width: 100%;                      
        } 
    }
    .navbaro__container{   
        @include sizeHeightWidth(55px,100%); 
        position: absolute;
        top:0;
        left: 0;        
        padding-top: 1rem;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
        -webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
        @media only screen and (min-width: 992px){                
            height: 65px;            
        } 
    }
    .navbaro__brand{     
        position: relative;
        position:left;            
        margin-top: 1.5rem;    
        @media only screen and (min-width: 992px){         
            float: left;            
            margin-left: 10rem;
        }
    }
    .navbaro__start{
        @include sizeHeightWidth(4rem,100%);        
        margin-left: 20px;
        float: left;
        @media only screen and (min-width: 992px){    
            width: 80%;
            display: block;    
        }
    }
    .navbaro a:link{
        color: $ColorSecundarioOlimpo;
    }
    .navbaro a:visited{
        color: $ColorSecundarioOlimpo;
    }
    .navbaro__item{
        display: inline-block;    
        padding: 5px;
        margin: 10px 10px;
    }
    .navbaro__button{
        border-width: 2px;
        font-weight: 600;
        border: 1px solid $ColorSecundarioOlimpo;  
        padding:10px 20px 10px 20px;
        color: $ColorSecundarioOlimpo;
        background: transparent;
        @media only screen and (min-width: 992px){    
            font-size: 1.5rem; 
        }
    }

    @media only screen and (min-width: 992px){            
        height: 4.5rem;        
    }
}


main {
    grid-area: main;   
    
    section{
        grid-area: seccion;    
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;   
        width: 100%;    
        text-align: center; 

        @media only screen and (min-width: 992px){                
            margin-top: 30px;        
            width: 80%;         
            justify-content: center;
        }
    }

    article{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        place-items: center;
        margin: auto;
    }
}

footer{
    height: 180px;
    display: flex;
    background-color:#f5f6fa;
    margin: auto;
    width: 100%;
    grid-area: footer;


    .footer__brand{
        justify-items: flex-start;
        margin-top: 30px;
        padding-left: 2rem;    
        width: 30%;
        @media only screen and (min-width: 992px){                
            margin-top: 50px;
            padding: 20px 0px 0px 100px;
            width: 70%;
        }

    }
    .footer p {    
        height: 80px;     
        font-size: 1rem; 
        justify-items: center;
        align-items:  center;  
        @media only screen and (min-width: 992px){                  
            font-size: 1.2rem;             
        }
    }
    
    .footer__links{
        justify-content: flex-end;
        text-align: right;    
        margin-top: 80px;    
        width: 60%;
        color: $ColorSubtitleOlimpo;
        @media only screen and (min-width: 992px){      
            padding: 20px 30px 0px 50px;
            width: 70%;            
        } 
    }
    .footer__links a{
        color: $ColorSubtitleOlimpo;
        font-weight: bold;
    }

    @media only screen and (min-width: 992px){    
        height: 300px;        
    }
}

