header{
    background-color: $ColorBackgroundOlimpo;       
    height: 3.5rem;            
    grid-area: header;

    .nav-brand{
        margin-right: 2rem;                   
    }

    .nav-item:hover{
        @extend .estiloNavItem;        
    }

    .nav_brand-logo:hover
    {
        @extend .efectoAgrandarImagen;
    }
    .navbar-collapse{
        z-index: 999;
        @media only screen and (max-width: 992px){       
            font-size: 1.5rem;
            background-color:$ColorBackgroundOlimpo;
            border: 2px solid $ColorMenuOlimpo;
            padding: 10px;
        }
    }
    .navbaro{ 
        font-family: $body-font-family-poppins;   
        margin-left: auto; 
        margin-right: auto;    
        font-size: 1.5rem;   
        z-index: 1;
        @media only screen and (min-width: 992px){                
            width: 100%;                      
        } 
    }
    .navbaro__container{   
        @include sizeHeightWidth(55px,100%); 
        position: absolute;
        top:0;
        left: 0;        
        padding-top: 1rem;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
        -webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
        @media only screen and (min-width: 992px){                
            height: 65px;            
        } 
    }
    .navbaro__brand{     
        position: relative;
        position:left;            
        margin-top: 1.5rem;    
        @media only screen and (min-width: 992px){         
            float: left;            
            margin-left: 10rem;
        }
    }
    .navbaro__start{
        @include sizeHeightWidth(4rem,100%);        
        margin-left: 20px;
        float: left;
        @media only screen and (min-width: 992px){    
            width: 80%;
            display: block;    
        }
    }
    .navbaro a:link{
        color: $ColorSecundarioOlimpo;
    }
    .navbaro a:visited{
        color: $ColorSecundarioOlimpo;
    }
    .navbaro__item{
        display: inline-block;    
        padding: 5px;
        margin: 10px 10px;
    }

    .navbaro__button{
        border-width: 2px;
        font-weight: 600;
        border: 1px solid $ColorSecundarioOlimpo;  
        padding:10px 20px 10px 20px;
        color: $ColorSecundarioOlimpo;
        background: transparent;
        @media only screen and (min-width: 992px){    
            font-size: 1.5rem; 
        }
    }

    @media only screen and (min-width: 992px){            
        height: 4.5rem;        
    }
}


main {
    grid-area: main;   
    
    section{
        grid-area: seccion;    
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;   
        width: 100%;    
        text-align: center; 

        @media only screen and (min-width: 992px){                
            margin-top: 30px;        
            width: 80%;         
            justify-content: center;
        }
    }

    article{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        place-items: center;
        margin: auto;
    }
}