a{
    text-decoration: none;
}

.navbar-collapse{
    @media only screen and (min-width: 992px){   
        font-size: 1.5rem;
        background-color:$ColorBackgroundOlimpo;
        border: none;
        padding: 0;
    }    
}

.container{
    display: flex;    
    background-color:$ColorBackgroundOlimpo;  
    width: 100%;    

    @media only screen and (min-width: 992px){            
        flex-direction: row;        
        margin-bottom: 50px;
    }
}
.container__item{
    float: left;
    align-items:flex-start;   
    justify-items: stretch;
    width: 100%;

    @media only screen and (min-width: 992px){    
        float: right;        
        width: 40%;
    }
}
.container__imagen{
    @include sizeHeightWidth(150px, 300px);
    float: right;
    margin: auto; 
    @media only screen and (min-width: 992px){       
        @include sizeHeightWidth(300px,600px)         
    }
}
.container__title{
    font-weight: 700;       
    font-size: 5rem;
    color: $ColorSecundarioOlimpo;        
    width: 100%;
}
.container__description{
    font-family: $body-font-family-poppins;
    font-size: 2em;
    text-align: left;
    color: $ColorSecundarioOlimpo;    
    margin: 25px 25px auto;    
}
.container__stacks img{
    height: 42px;
    margin: 25px 5px;
    max-width: 100%;
}


.enterprise
{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-family: $body-font-family-poppins;
    color: $ColorSubtitleOlimpo;
    min-height: 380px;
    width: 100%;
    background-color: $ColorSecundarioOlimpo;
}
.enterprise__objectives{
    display: flex;    
    flex-direction: column;    
    justify-content: center;    
    align-items: center;
    width: 90%;
    margin: auto;
    @media only screen and (min-width: 992px){                     
            flex-direction: row;                       
    }
}
.enterprise__objective{
    font-family: $body-font-family-poppins;
    color: $ColorSubtitleOlimpo;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;   
}
.enterprise__objective img{
    @include sizeHeightWidth(300px,90%);    
    margin-left: auto;
    margin-right: auto;
}

.enterprise__description{
    font-family: $body-font-family-roboto;
    font-weight: bold;
    font-size: 3rem; 
    margin: 2.8rem;
}
.enterprise__information{
    font-size: 1.6rem; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.enterprise__objective:hover{
    @extend .efectoAgrandarImagen;
}

.information{
    min-height: 570px;
    margin-top: 30px;        
    width: 100%;    
    background-color: $ColorSecundarioOlimpo;
    align-items: center;
    @media only screen and (min-width: 992px){                     
        min-height: 700px;       
    }
}
.information__article{
    margin-top: -12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;   
    @media only screen and (min-width: 992px){   

    }     
}
.information__number{
    display: block;
    font-size: 5rem;
    text-align: center;
    color: #A9ABAC;
    font-weight: bold;
    @media only screen and (min-width: 992px){   
        
    }   
}
.information__title{
    padding-top: 3rem;
    font-family: $body-font-family-roboto;
    color: $ColorSubtitleOlimpo;
    font-size: 3.5rem;    
    text-align: center;
    @media only screen and (min-width: 992px){   
        
    }   
}
.information__subtitle{
    display: block;
    color: #A9ABAC;
    font-family: $body-font-family-roboto;
    font-size: 1.8rem;
    text-align: center;
    @media only screen and (min-width: 992px){   
        
    }   
}
.information__description{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
    width: 85%;    
    @media only screen and (min-width: 992px){           
        font-size: 2.5rem;
        width: 70%;    
    }   
}
.information__image{      
    @include sizeHeightWidth(220px,320px);  
    display: block;
    margin: 30px auto 10px auto;      
    @media only screen and (min-width: 992px){    
        @include sizeHeightWidth(239px,440px);               
    }   
}
.information__image:hover {
    filter: sepia(60%);
}
.information__image img{           
    max-width: 100%;
    max-height: 100%;
}
.information__video{
    @include sizeHeightWidth(225px,70%);
    display: block;
    margin: 10px 20px 10px 20px;        
    @media only screen and (min-width: 992px){         
        @include sizeHeightWidth(335px,560px);                       
        margin:20px auto 20px auto;     
    }
}
.information__video iframe {
    @media only screen and (min-width: 992px){     
        min-height: 100%;
        min-width: 100%;
    }    
}
.information__map{
    margin-bottom: 30px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
}
.information__form{
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid $ColorSubtitleOlimpo;    ;
    border-radius: 10px;
    font-size: 1.8rem;
}
.information__plans{
    margin-left: auto;
    margin-right: auto;   
    justify-content: center;    
    width: 60%;
}