a{
    text-decoration: none;
}

.navbar-collapse{
    @media only screen and (min-width: 992px){   
        font-size: 1.5rem;
        background-color:$ColorBackgroundOlimpo;
        border: none;
        padding: 0;
    }    
}

.container{
    display: flex;    
    background-color:$ColorBackgroundOlimpo;  
    width: 100%;    

    @media only screen and (min-width: 992px){            
        flex-direction: row;        
        margin-bottom: 50px;
    }
}
.container__item{
    float: left;
    align-items:flex-start;   
    justify-items: stretch;
    width: 100%;

    @media only screen and (min-width: 992px){    
        float: right;        
        width: 40%;
    }
}
.container__imagen{
    @include sizeHeightWidth(150px, 300px);
    float: right;
    margin: auto; 
    @media only screen and (min-width: 992px){       
        @include sizeHeightWidth(300px,600px)         
    }
}
.container__title{
    font-weight: 700;       
    font-size: 5rem;
    color: $ColorSecundarioOlimpo;        
    width: 100%;
}
.container__description{
    font-family: $body-font-family-poppins;
    font-size: 2em;
    text-align: left;
    color: $ColorSecundarioOlimpo;    
    margin: 25px 25px auto;    
}
.container__stacks img{
    height: 42px;
    margin: 25px 5px;
    max-width: 100%;
}



